<div class="modal fade" id="productModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="productModalLabel">Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row g-3">
          <div class="col-12 col-md-5">
            <img id="pm-image" src="/images/misc/no-image.svg" class="img-fluid rounded" alt="">
          </div>
          <div class="col-12 col-md-7">
            <h4 id="pm-title"></h4>
            <p class="text-muted" id="pm-meta"></p>
            <p class="lead" id="pm-price"></p>
            <p id="pm-availability"></p>
            <div id="pm-extras" class="mb-2"></div>
            <form id="pm-add-form" class="d-flex gap-2 align-items-center" action="#" method="POST">
              <div class="input-group input-group-sm" style="width:140px;">
                <button type="button" class="btn btn-outline-secondary btn-decrement" data-target="pm-qty">-</button>
                <input id="pm-qty" class="form-control qty-input" type="number" min="1" value="1" data-max="1">
                <button type="button" class="btn btn-outline-secondary btn-increment" data-target="pm-qty">+</button>
              </div>
              <input type="hidden" id="pm-hidden-qty" name="quantity" value="1">
              <button id="pm-add-btn" type="submit" class="btn btn-primary">Add to cart</button>
              <button type="button" class="btn btn-secondary ms-auto" data-bs-dismiss="modal">Close</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>